html {
    font-size: 16px;
}

body{
    background-color: #E0E0E0;
    font-family: 'Quicksand';   
    font-weight: 500;

    height: fit-content;

    padding-bottom: 2em;
}

.customize-content{
    margin-top: 100px;
    width: 80%;
}


.customize-card{
    display: flex;

    align-items: center;

    justify-content: center;

    border-radius: 10px;
    
    padding: 15px 20px;

    height: 150px;

    margin-bottom: 15px;

    background: linear-gradient(45deg, #D3A809, #d3a709a1), url("../assets/pele-10.jpg") no-repeat center/cover;

    border: solid 1px rgb(158, 158, 104);
}

.customize-title h1{
    font-weight: 800;
    margin: 0;
    
}

.form-group label{
    font-size: 1.5em;
    margin-top: 2em;
}

.edit-logo-input{
    margin-top: 2em;
    text-align: center;
    max-height: 120px;
}
.edit-logo-input img{
    width: 300px;
}


@media only screen and (max-width: 1240px) {

    .customize-colors{
        font-size: 0.5em;
    }
}

@media only screen and (max-width: 767px) {
.customize-content{
font-size: 0.8em;
}

textarea{
    font-size: 0.8em !important;
    height: 100px;
}
.edit-logo-input img{
    width: 150px;
}

.customize-colors{
    display: flex;
    flex-direction: column !important;
}

.customize-colors-row{
    display: flex;
    flex-direction: row;
    font-size: 0.85em;
    text-align:left;
    justify-content: space-between;
    align-items: end;
}

.customize-colors-row>div{
    width: 45%;
}

}