@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Regular.ttf");
  }
  
  body {
	background-image: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
	font-family: "Open Sans", sans-serif;
  }
  
  header img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
  }
  
  .informations {
	width: 80%;
	margin: 50px auto;
  }
  
  .form-group {
	margin-bottom: 20px;
	box-shadow: 0px 0px 5px grey;
	padding: 10px;
	border-radius: 4px;
  }
  
  #texto {
	height: 180px;
  }
  
  label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	color: #555;
  }
  
  .form-control {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 16px;
	background-color: #f5f5f5;
  }
  
  button {
	margin-top: 10px;
	padding: 10px;
	background-color: #d9b32b;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  button:hover {
	background-color: green;
  }
  
  #excluir {
	background-color: #d9b32b;
  }
  #excluir:hover{
	background-color: #dd4444;
  }
  .modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
	background-color: #ffffff;
	margin: 15% auto;
	padding: 30px;
	border-radius: 5px;
	width: 30%;
	text-align: center;
  }
  
  .modal-content img {
	width: 270px;
	height: 170px;
	margin-top: 10px;
  }
  
  .modal-buttons {
	margin-top: 20px;
	display: flex;
	justify-content: center;
  }
  
  .modal-buttons button {
	margin: 0 10px;
	padding: 10px 20px;
	background-color: #070601;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .modal-buttons button:hover {
	background-color: #d9b32b;
  }