html {
    font-size: 16px;
}

body{
    background-color: #E0E0E0;
    font-family: 'Saira';

    height: fit-content;
}

.listPostUser-content{
    margin-top: 100px;
    width: 80%;
}

.listPostUser-header, .listPost-header{
    background-color: transparent;
    border-radius: 5px;
    
    font-size: 1.2rem;
    color: #fed647;

    background-image: linear-gradient(4deg, #51515187 0%, #dcbf6e 100%);
}

.listPostUser-userboxD, .listPost-boxD{
    background-color: white;

    border-radius: 0px;

    border-left: #fed647 solid 5px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    transition: all ease-in-out 0.2s;
}

.listPostUser-userboxD:hover, .listPost-boxD:hover{
    background-color: rgba(199, 195, 195, 0.405);

}

.listPostUser-userboxM{
    display: none;
}

.listPostUser-userboxM-header,.listPostUser-userboxM-body{
    border-left: #fed647 solid 5px;
    box-sizing: border-box;
}
.accordion-button{
    border-radius:0!important;
}

.listPostUser-userboxM-header-title,.listPostUser-userboxM-body-title{
    color: #fed647;
    text-decoration: underline;
}

.listPostUser-userboxM-header-title{
    width: 30%;
}

.listPostUser-userboxM-header-content{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 30%;
}


.listPostUser-userboxM-body-title,.listPostUser-userboxM-body-content{
    width: 100%;
}

.accordion-button::after{
    margin: 0;
}

.accordion-button:not(.collapsed){
    background-color: white;
}


/* Layout dos itens para user*/
.listPostUser-header-item{
    border-right: rgba(63, 63, 63, 0.415) solid 1px;
}

.listPostUser-header-item:nth-child(1),.listPostUser-userboxD-item:nth-child(1){
    width: 10%;
}
.listPostUser-header-item:nth-child(2),.listPostUser-userboxD-item:nth-child(2){
    width: 23%;
}
.listPostUser-header-item:nth-child(3),.listPostUser-userboxD-item:nth-child(3){
    width: 27%;
}
.listPostUser-header-item:nth-child(4),.listPostUser-userboxD-item:nth-child(4){
    width: 40%;
    border:0;
}

/* Layout dos itens para posts*/
.listPostUser-header-item{
    border-right: rgba(63, 63, 63, 0.415) solid 1px;
}

.listPost-header-item:nth-child(1),.listPost-boxD-item:nth-child(1){
    width: 30%;
}
.listPost-header-item:nth-child(2),.listPost-boxD-item:nth-child(2){
    width: 33%;
}
.listPost-header-item:nth-child(3),.listPost-boxD-item:nth-child(3){
    width: 37%;
    border:0;
}

@media only screen and (max-width: 1000px) {
    .listPostUser-header, .listPost-header ,.listPostUser-userboxD, .listPost-boxD{
        display: none !important;
    }

    .listPostUser-content{
        width: 90%;
    }

    .listPostUser-userboxM{
        display: inline;
    }

}