
.singlepost{
	background: #E0E0E0;

	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
	font-family: 'Quicksand', sans-serif;

	height: 100%;

	padding: 2em 0;

}

.singlepost-content{

	max-width: 1200px;
	margin: 0 auto;

	background-color: white;

	display: flex;
	flex-direction: column;

	padding: 0 2em;
	padding-bottom: 1em;
	margin-bottom: 20px;

	border-radius: 10px;
	box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.4);
}

.singlepost-content h1{
	font-weight: 700;
	font-size: 2.5em;
	margin-top: 1em;
	text-transform: uppercase;
}

.singlepost-content h2{
	text-align: justify;
	line-height: 1.4em;
	font-size: 1.3em;
	font-weight: 400;
	margin-top: 1em;
}

.singlepost-content h3{
	padding-top: 1em;
}

.singlepost-image{
	margin: 2em 0;
}

.singlepost-image img{
	border-radius: 30px;
	width: 60%;
}

.singlepost-backtohome{
	align-self: start;

	margin-left: 20px;
}

.post-author{
	text-transform: uppercase;
	align-self: flex-end;
	font-weight: 600;
	font-size: 1em;
	font-style: italic;
	color: rgb(201, 158, 3);
}

#back-to-home{
	padding-top: 10px;
	padding-bottom: 6px;

	padding-left: 16px;
	padding-right: 16px;
}

@media only screen and (max-width: 767px) {

	.singlepost-content h1{
		text-align: justify;
		text-align-last: center;
		font-size: 1.4em;
	}

	.singlepost-content h2{
		margin-top: 0;
		font-size: 0.9em;
	}

	.singlepost-content h3{
		padding-bottom: 1em;
	}

	.post-description{
		font-size: 0.8em;
	}

	.singlepost-content{
		padding: 0 1em;
		padding-bottom: 0em;
	}

	.singlepost-image{
		margin: 1em auto;
	}

	.singlepost-backtohome{
		align-self: start;
	
		margin-left: 10px;
	}


}

