body{
	background: linear-gradient(to bottom, #F0F0F0 0%, #070601 100%);

}

header img {
	display: block; 
	margin: 0 auto; 
	height: 100px; 
	width: 320px; 
	margin-bottom: 50px;
	margin-top: 40px;
	
}

.informations{
	margin-left: 0;
	margin-right: 0;
	background-color: white;
	border-radius: 20px;
 	padding: 6px 190px 80px 190px;
}
.informations h1{
	text-align: center;
	line-height:0.7;
	font-size: 50px;
	color: #070601;
	position: relative;
	margin-bottom: 70px;
	font-family: 'Roboto', sans-serif;
}
.informations h2{
	text-align: justify;
	color: #070601;
	font-size:15px;
	margin-top: 30px;
	font-family: 'Roboto', sans-serif;

}
.informations h3{
     color: #070601;
     font-size: 12px;
     font-family: 'Roboto', sans-serif;
}
.informations img{
       height:400px;
  	   width: 600px;
  	   position: relative;
  	   element: center;

}

.main a {
	line-height: 30px;
	font-size: 10px;
	font-family: 'Roboto', sans-serif;

}
.main hr{
	color: black;
}
.container {
    max-width: 1200px; /* Largura máxima do elemento pai */
    margin: 0 auto; /* Centralizar o elemento pai na tela */
}

.container img {
    display: block;
    height: 400px;
    width: 600px;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: auto; /* Centralizar a imagem na horizontal */
    margin-right: auto;
}
figcaption {
  grid-column-start: 2;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.voltar a{
	color: #D9B328;
	text-decoration: none;
	font-size:12px;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	border-radius: 40px;
	padding: 0.8px 5px 0.8px 5px;
	margin-bottom: 0px;

}