<!DOCTYPE html>

<html>

    <head>
        <title>Form Posts </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../../public/css/form.css">
    </head>

  <body>
    <header>
        <img src="../../../public/assets/logo.png" alt="Logo do blog">
    </header>	
    <div class="informations">
        <form>
        <div class="form-group">
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" class="form-control">
        </div>
        <div class="form-group">
            <label for="texto">Texto:</label>
            <textarea id="texto" name="texto" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="autor">Autor:</label>
            <input type="text" id="autor" name="autor" class="form-control">
        </div>
        <div class="form-group">
            <label for="data">Data de Criação:</label>
            <input type="date" id="data" name="data" class="form-control">
        </div>
        <div class="form-group">
            <label for="imagem">Imagem:</label>
            <input type="file" id="imagem" name="imagem" class="form-control">
        </div>
        <div class="buttons">
            <button type="submit" id="salvar">Salvar</button>
            <button type="button" id="excluir">Excluir</button>
        </div>
        </form>
    </div>
  </body>