<!DOCTYPE html>

<html>

    <head>
        <title>Form </title>

        <meta charset="utf-8">
        <link rel="stylesheet" href="../../../public/css/form.css">
    </head>

    <body>

        <header>
            <img src="../../../public/assets/logo.png" alt="Logo do blog">
        </header>	

        <div style="" class='titulo'  >
            <label
                for='contact-form-comment-titulo'
                class='titulo'
                >Título<span></span></label>
            <input
                type='text'
                name='titulo'
                id='titulo'
                value=''
                class='name' 
                required aria-required='true' />

        </div>

        <div style="" class='texto'  >
            <label
                for='contact-form-comment-texto'
                class='texto'
                >Texto<span></span></label>
            <textarea
                    style=''
                    name='-texto'
                    id='contact-form-comment-texto'
                    rows='30' class='textarea'  required aria-required='true'></textarea>
        </div>
    

    </body>
        
</html>