<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
</head>

<body>
    <div class="add-users">
        <div class="name-lastname">
            <div class="first-name">
                <label>Nome</label>
                <input type="text">
            </div>
        </div>

        <div class="email">
            <div>
                <label>E-mail</label>
                <input type="email">
            </div>
        </div>

        <div class="password">
            <div>
                <label>Senha</label>
                <input type="password">
            </div>
        </div>

        <button type="submit">Salvar</button>
        <button type="submit">Cancelar</button>
    </div>

    <div class="list-users">
        <div class="first-name">
            <label>Nome</label>
            <input type="text" disabled>
        </div>

        <div class="email">
            <div>
                <label>E-mail</label>
                <input type="text" disabled>
            </div>
        </div>
    </div>

    <div class="edit-users">
        <div class="name-lastname">
            <div class="first-name">
                <label>Nome</label>
                <input type="text">
            </div>
        </div>

        <div class="email">
            <div>
                <label>E-mail</label>
                <input type="email">
            </div>
        </div>

        <div class="password">
            <div>
                <label>Senha</label>
                <input type="password">
            </div>
        </div>

        <button type="submit">Salvar</button>
        <button type="submit">Cancelar</button>
    </div>

    <div class="remove-users">
        <div class="first-name">
            <label>Nome</label>
            <input type="text" disabled>
        </div>

        <div class="email">
            <div>
                <label>E-mail</label>
                <input type="text" disabled>
            </div>
        </div>

        <p>Tem certeza que deseja excluir esse usuário?</p>

        <button type="submit">Confirmar</button>
        <button type="submit">Cancelar</button>
    </div>
    </div>
</body>

</html>