<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Blog do Rei - Home</title>

    <link rel="stylesheet" href="/public/css/landing_page/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    </head>

<body>
    <div class="navbar"></div>

    <div class="header">
        <img src="/public/assets/landing_page/texto.png" alt="logo do blog">
    </div>


    <div class="line"></div>

    <div class="retrospectiva">
        <img src="/public/assets/landing_page/retrospectiva.png" alt="restrospectiva pelé">
    </div>

    <div class="line"></div>

    <main>
        <section class="posts">
            <article>
                <header>
                    <h1>TÍTULO TÍTULO TÍTULO TÍTULO</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting 
                        industry. Lorem Ipsum has been the industry's standard dummy 
                        text ever since the 1500s, when an unknown printer took a galley 
                        of type and scrambled it to make a type specimen book.
                    </p>
                </header>
                <p></p>
            </article>

            <article>
                <header>
                    <h2></h2>
                    <p></p>
                </header>
                <p></p>
            </article>

            <article>
                <header>
                    <h2></h2>
                    <p></p>
                </header>
                <p></p>
            </article>

            <article>
                <header>
                    <h2></h2>
                    <p></p>
                </header>
                <p></p>
            </article>

            <article>
                <header>
                    <h2></h2>
                    <p></p>
                </header>
                <p></p>
            </article>
        </section>

    <aside class="sidebar">
        <ul class="destaque">
            <li><img src="/public/assets/landing_page/vasco.png" alt=""></li>
            <li><img src="/public/assets/landing_page/santos.png" alt=""></li>
            <li><img src="/public/assets/landing_page/copa.png" alt=""></li>
        </ul>

        <ul class="pesquisa">
            <li><img src="/public/assets/landing_page/temporaria.png" alt=""></li>
        </ul>
    </aside>
    </main>

</body>
</html>