<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../public/css/styles.css">
    <link rel="shortcut icon" href="../../../public/assets/logo_sem_texto.png" type="image/x-icon">

    <title>Login</title>

</head>

<body class="body-login">
    <form class="form-login">
        <h3>Login</h3>

        <label for="usuario" class="label-login">Usuário</label>
        <input type="text" placeholder="Informe seu email" id="usuario" class="input-login" >

        <label for="senha" class="label-login">Senha</label>
        <input type="password" placeholder="Informe sua senha" id="senha" class="input-login">

        <button type="submit" class="button-login">Entrar</button>

    </form>
</body>

</html>