<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../public/css/styles.css">
    <link rel="shortcut icon" href="../../../public/assets/logo_sem_texto.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

    <title>Login</title>

</head>

<body class="body-login">
    <form class="form-login">

        <h3>Login</h3>

        <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Informe seu email" id="usuario" class="input-login">
        </div>

        <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Informe sua senha" id="senha" class="input-login">
        </div>

        <button type="submit" class="button-login">Entrar</button>

    </form>
</body>

</html>