<!DOCTYPE html>

<html>

	<head>
		<title>Pagina de visualização única </title>

		<meta charset="utf-8">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="seu-hash-de-integridade-aqui" crossorigin="anonymous">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Quicksand:wght@300;400;600&family=Roboto:wght@300;500&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="../../../public/css/pvu.css">


	</head>

	<body>

			<header>
	               <img src="../../../public/assets/logo.png" alt="Logo do blog">
			</header>	
			<div class="main">		

					<div class="informations">
						<label for=text><h1>Título do post</h1>

						 <h2>Corpo do Texto(Este espaço é destinado a adição das informações que querem ser transmitidas através do post em questão). Exemplo:

						 <p>Pelé, cujo nome verdadeiro é Edson Arantes do Nascimento, é considerado um dos maiores jogadores de futebol de todos os tempos. Nascido em Três Corações, Minas Gerais, Brasil, em 23 de outubro de 1940, ele começou a jogar futebol aos 15 anos de idade e rapidamente chamou a atenção de todos com suas habilidades excepcionais.</p>

						<p>Pelé é mais conhecido por sua carreira com o Santos FC, onde ele jogou por 19 anos e conquistou uma série de títulos, incluindo dez campeonatos estaduais, seis campeonatos nacionais e duas Copas Libertadores da América. Ele também levou o Brasil a três títulos da Copa do Mundo em 1958, 1962 e 1970.</p></h2>

						<div class="container">
						  <img src="../../../public/assets/copa58.jpg" alt="Copa de 1958">
						  <figcaption>Copa de 1958,Pelé é o terceiro jogador da esquerda para a adireita na fileira dos jogadores que estão abaixados</figcaption>
						</div>

						<h2><p>Pelé é conhecido por seu estilo de jogo incomparável, que combinava velocidade, habilidade e precisão em seus passes e chutes. Ele era um jogador completo, capaz de marcar gols de todas as maneiras possíveis, desde chutes poderosos até cabeceios precisos.</p>

						<p>Sua habilidade em campo era tão grande que ele foi apelidado de "O Rei" do futebol. Ele aposentou-se do futebol em 1977, mas seu legado vive até hoje. Ele inspirou toda uma geração de jogadores de futebol e sua habilidade e técnica são estudadas por jogadores de todo o mundo até hoje.</p>

						<p>Pelé também é conhecido por suas ações fora de campo. Ele é um defensor da paz mundial e tem trabalhado para promover a igualdade racial e a justiça social em todo o mundo.</p>

						<p>Em resumo, Pelé é uma lenda viva do futebol, um jogador que não só marcou gols, mas também mudou a maneira como o jogo é jogado e inspirou milhões de pessoas em todo o mundo. Ele será sempre lembrado como um dos maiores jogadores de futebol de todos os tempos e um verdadeiro ícone do esporte.</p>

						 </h2>
						 <hr>
						 <h3>Informações Adicionais(Detalhes extras que existem no post)</h3></label>
					</div>

	   				<br>
	   				<div class="voltar">
						<a class="modal-button" id="back-to-home" href="/home" target="white"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg></a>
					 </div>

			</div>
	
	</body>

</html>
